/* Resetowanie marginesów, paddingów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #333;
}

h1, h2, h3 {
  color: #333;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #337ab7;
  transition: color 0.2s;
}

a:hover {
  color: #23527c;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  min-height: 80vh;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

/* w styles/globals.css */
button {
  background-color: #d9534f;
  border: none;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 4px;
}

button:hover {
  background-color: #c9302c;
}

